samples/basic filter=lfs diff=lfs merge=lfs -text
samples/bass filter=lfs diff=lfs merge=lfs -text
samples/double filter=lfs diff=lfs merge=lfs -text
samples/hagel.wav filter=lfs diff=lfs merge=lfs -text
samples/pinknoise.wav filter=lfs diff=lfs merge=lfs -text
samples/regen.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_04.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_09.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_10.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_13.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_16.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_19.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_23.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_02.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_05.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_07.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_11.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_15.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_17.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_22.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_01.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_08.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_18.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_20.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_03.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_06.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_12.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_14.wav filter=lfs diff=lfs merge=lfs -text
samples/basic/basic_21.wav filter=lfs diff=lfs merge=lfs -text
samples/bass/bass_01.wav filter=lfs diff=lfs merge=lfs -text
samples/bass/bass_02.wav filter=lfs diff=lfs merge=lfs -text
samples/bass/bass_03.wav filter=lfs diff=lfs merge=lfs -text
samples/bass/bass_04.wav filter=lfs diff=lfs merge=lfs -text
samples/bass/bass_05.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_01.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_03.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_04.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_08.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_09.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_10.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_02.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_05.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_06.wav filter=lfs diff=lfs merge=lfs -text
samples/double/double_07.wav filter=lfs diff=lfs merge=lfs -text
